.main_header{
    background: #1B1B1B;
    padding: 5px 0px;
}
.header_logo{
    font-size: 30px;
    font-weight: 700;
}
.camera_btn{
    border:none;
    background-color:#363636;
    height: 26px;
    display:flex;
    align-items: center;
}
.third_tab{
    height: 26px;
    border-radius: 6px;
    font-size: 13px;
    padding: 5px 12px;
    text-decoration: none;
    box-sizing: border-box;
    font-weight: 600;
    margin: 0px 3px;
}
.fourth_tab a{
    text-decoration: none;
    font-size: 13px;
    margin: 0px 10px;
    color: #ccc;
}
.header_toggler {
    display: block;
    background-color:#1B1B1B;
    width:100%;
    border-top: 1px solid #2b2b2b;
  }
  .black_header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .black_header_content>p{
      margin: 0;
  }
  .black_header_content {
    color: white;
    margin: auto auto;
    font-size: 12px;
    padding: 13px;
    height: 100%;
    text-align: center;
    font-weight: 500;
    width: 20%;
    text-decoration: none;
    border-bottom:3px solid transparent ;
}
.black_header_content:hover {
    border-right: 1px solid #2b2b2b;
    border-left: 1px solid #2b2b2b;
    color: white;
    background: #191919;
    text-decoration: none;
    border-bottom: 3px solid #FF9900;
  }
  .header_dropdown{
    position:absolute;
    left:0;
    width: 100%;
    height: 400px;
  }
#sidebar_btn{
    color: #FF9900;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 24px;
}
.soni{
    background: #FF9900;
    border-radius: 3px;
    padding: 2px;
}
.sidebar_caret{
    position: absolute;
    right: 22px;
    margin-top: 3px;
}
.logo{
    font-weight: 600;
    font-size: 18px;
}
.sidebar{
    overflow: scroll;
    position: fixed;
    transition: .3s ease-in-out;
    left:-85%;
    height: 100%;
    width: 85%;
    padding: 17px;
    background: black;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    padding: 4px 0px;
}
li>a{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 13px;
    padding: 17px 0 17px 17px;
    box-sizing: border-box;
    background: linear-gradient(
        180deg,rgba(41,41,41,.5) .12%,rgba(30,30,30,.5) 100%);;
    width: 100%;
    border-radius: 12px;
    display: block;
}
.icon{
    margin: 0 13px 0px 0;
    font-size: 18px;
}
.social_box{
    color: white;
    width: 48%;
    padding: 23px 0 23px 17px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 13px;
    background: linear-gradient(
        180deg,rgba(41,41,41,.5) .12%,rgba(30,30,30,.5) 100%);;
        border-radius: 12px;
    
}
.active{
    border-bottom: 3px solid #FF9900;
}