#sidebar_btn{
    color: #FF9900;
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 24px;
}
.soni{
    background: #FF9900;
    border-radius: 3px;
    padding: 2px;
}
.fa-caret-down{
    position: absolute;
    right: 22px;
    margin-top: 3px;
}
.logo{
    font-weight: 600;
    font-size: 18px;
}
.sidebar{
    overflow: scroll;
    position: fixed;
    transition: .3s ease-in-out;
    left:-85%;
    height: 100%;
    width: 85%;
    padding: 17px;
    background: black;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
li{
    padding: 4px 0px;
}
li>a{
    position: relative;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 13px;
    padding: 17px 0 17px 17px;
    box-sizing: border-box;
    background: linear-gradient(
        180deg,rgba(41,41,41,.5) .12%,rgba(30,30,30,.5) 100%);;
    width: 100%;
    border-radius: 12px;
    display: block;
}
.icon{
    margin: 0 13px 0px 0;
    font-size: 18px;
}
.social_box{
    color: white;
    width: 48%;
    padding: 23px 0 23px 17px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    font-size: 13px;
    background: linear-gradient(
        180deg,rgba(41,41,41,.5) .12%,rgba(30,30,30,.5) 100%);;
        border-radius: 12px;
    
}