<footer>
    <div class="container div_container">
    <div class="row">
        <div class="col-3 text-start">
            <h5>Information</h5>
            <p>Sitemap</p>
            <p>Terms & Conditions</p>
            <p>Privacy Policy</p>
            <p>DMCA</p>
            <p>2257</p>
        </div>
        <div class="col-3 text-start">
            <h5>Work With Us</h5>
            <p>Content Partners</p>
            <p>Advertise</p>
            <p>Webmasters</p>
            <p>Model Program</p>
            <p>Press</p>
        </div>
        <div class="col-3 text-start">
            <h5>Support and Help</h5>
            <p>Content Removal</p>
            <p>Contact Support</p>
            <p>FAQ</p>
            <p>Trust and Safety</p>
            <p>Parental Controls</p>
            <p>Feedback</p>
        </div>
        <div class="col-3 text-start">
            <h5>Discover</h5>
            <p>Insights Blog</p>
            <p>Mobile</p>
            <p>Blogs</p>
            <p>Visually Impaired</p>
            <p>More</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-start">
            <p style="color: #808080;font-size: 14px;font-weight: 700;">Language: &nbsp;
                <a class="language_dropdown" href="#">
                    <i class="fas fa-globe-africa me-1"></i>
                    English
                    <i class="ms-1 fas fa-caret-down sidebar_caret"></i>
                </a>
            </p>
        </div>
    </div>
</div>
<div style="background-color: black;" class="">
    <div class="container">
        <div class="row text-white">
            <div class="col-6 text-start">
                <i style="padding-left: 0px;" class="fab fa-linkedin"></i>
                <i class="fab fa-telegram"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-discord"></i>
            </div>
            <div class="col-6 d-flex justify-content-center align-items-center">
                <p class="m-0" style="color: #666666;font-size: 12px;">&copy; dineshSoni, {{ date }}</p>
            </div>
        </div>
    </div>
</div>
</footer>
<script></script>