<div class="container">
  <h5 class="text-white boldFont">Contact Us</h5>
  <div class="container text-white p-3">
    <p class="boldFont">dineshSoni Support</p>
    <p>Need help? Please fill out the form below. If you have a Pornhub account, please log into your account first to help us expedite your request.</p>
    <p style="margin-top: 25px;" class="boldFont">Model Program Support</p>
    <p>Are you part of our model program? Please log into your account and get in touch with us via your Toolbox so the right team can help you with your specific needs.</p>
    <label class="d-block" for="email">Email:</label>
    <input id="email" class="formInput" type="text">
    <label class="d-block" for="name">Name:</label>
    <input id="name" class="formInput" type="text">
    <label class="d-block" for="type">Type:</label>
    <div style="margin: 0px 0px 30px;" class="type_dropdown">
      <select name="" id="type">
        <option default value="">Select Support Type</option>
        <option value="">Bug</option>
        <option value="">General Enquiry</option>
        <option value="">Hire Me</option>
        <option value="">Get a quote</option>
        <option value="">Content Removal Request</option>
        <option value="">Pull Request</option>
        <option value="">Suggestions</option>
      </select>
    </div>
    <label class="d-block" for="message">Message:</label>
    <textarea name="message"  cols="113" rows="4"></textarea>
    <label class="d-block" style="margin: 30px 0px 30px;" for="captcha">Captcha:</label>
    <p style="margin:0px 0px 30px;font-size:15px;">For any content removal requests please use our <a href="#" style="color: #FF9900;text-decoration: none;">content removal form</a></p>
    <button class="orange_btn">Send</button>
<div style="margin-top: 50px;">
  <h5 class="text-white boldFont">Media Inquiries?</h5>
  <p class="container" style="padding:30px 27px;">
    For media inquiries, please contact <a class="orange_links" href="emailto:soni.dineshds2000@gmail.com">media@pornhub.com</a>. Any non media/press related inquiries will be ignored, please use the contact form above.
  </p>
  <h5 class="text-white boldFont">Copyright/DMCA Issue?</h5>
  <p class="container" style="padding:30px 27px;">
  For any copyright infringement issues please email <a class="orange_links" href="emailto:soni.dineshds2000@gmail.com">copyright@pornhub.com</a> or <a class="orange_links" href="#">read more about DMCA takedowns</a>.
  </p>
</div>
  </div>
</div>